body{
    width: 100%;
    height: 0;
    margin: 0 auto;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
     animation: coresAleatoriasCatarata 2s ease infinite;
}

video{
    width: 50vh;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
}
#police_meme{
    position: relative;
}

@keyframes coresAleatoriasCatarata {
    0%   { background-color: #ff0055; } /* Rosa */
    10%  { background-color: #00ff66; } /* Verde limão */
    20%  { background-color: #0066ff; } /* Azul */
    30%  { background-color: #ffcc00; } /* Amarelo */
    40%  { background-color: #9900ff; } /* Roxo */
    50%  { background-color: #ff5500; } /* Laranja */
    60%  { background-color: #00ffff; } /* Ciano */
    70%  { background-color: #ff00ff; } /* Magenta */
    80%  { background-color: #33cc33; } /* Verde escuro */
    90%  { background-color: #6600cc; } /* Violeta */
    100% { background-color: #ff0055; } /* Volta ao Rosa inicial sem dar tranco */
}